/* Estilos para el cuerpo de la página en modo oscuro */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1a; /* Cambia el color de fondo a oscuro */
  margin: 0;
  padding: 0;
  color: #fff; /* Cambia el color del texto a claro */
}

/* Estilos para el contenedor en modo oscuro */
.container {
  width: 500px;
  padding: 40px;
  background-color: #292929; /* Cambia el color de fondo a oscuro */
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  position: relative; /* Agrega posición relativa para posicionar el neon */
}

/* Animación de neón en modo oscuro solo para el contenedor */
.container::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 12px;
  box-shadow: 0 0 10px #007aff, 0 0 20px #007aff, 0 0 30px #007aff, 0 0 40px #007aff, 0 0 50px #007aff;
  animation: neon-glow 1.5s infinite alternate;
}

/* Estilos para el título en modo oscuro */
h1 {
  text-align: center;
  margin-top: 0;
}

/* Estilos para etiquetas y campos de entrada en modo oscuro */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  background-color: #1f1f1f;
  color: #fff;
  position: relative; 
  position: relative;
    z-index: 1;
}

/* Pseudo-elemento para el efecto de neón en el input */
input[type="number"]::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 6px;
  box-shadow: 0 0 10px #007aff, 0 0 20px #007aff, 0 0 30px #007aff, 0 0 40px #007aff, 0 0 50px #007aff;
  animation: neon-glow 1.5s infinite alternate;
}

/* Estilos para el botón en modo oscuro */
button {
  width: 100%;
  padding: 10px 20px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  position: relative; /* Agrega posición relativa al botón */
  z-index: 2; /* Coloca el botón encima del efecto de neón */
}

/* Estilos para el resultado en modo oscuro */
#resultado {
  margin-top: 20px;
  font-weight: bold;
  background-color: #292929; /* Cambia el color de fondo a oscuro */
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

/* Animación de neón en modo oscuro */
@keyframes neon-glow {
  0% {
      box-shadow: 0 0 10px #007aff, 0 0 20px #007aff, 0 0 30px #007aff, 0 0 40px #007aff, 0 0 50px #007aff;
  }
  100% {
      box-shadow: 0 0 20px #007aff, 0 0 30px #007aff, 0 0 40px #007aff, 0 0 50px #007aff, 0 0 60px #007aff;
  }
}
